$light: #FFF;
$ghost: #C6CBD4;
$steel-gray: #282136;
$ship-gray: #3D374A;
$comet: #5B5E77;
$primary-green: #00A11E;

$primary-button-bg: $primary-green;
$primary-border-color: $ghost;
$primary-text-color: $steel-gray;
$secondary-text-color: $ship-gray;
$additional-text-color: $primary-green;

$base-interval: .15s;