include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('table-component')
  control-panel(
    :tableDataLength="tableDataFull.length"
    ref="controlPanel"
  )
  brand-table(
    v-if="$refs.controlPanel"
    :header="$refs.controlPanel.sortedSelectedColumns"
    :content="tableData"
  )
  preloader(
    v-if="preloaderStateShow"
    class="preloader_big"
  )
